@import "tailwindcss";
* {
  
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}

html, body {
  width: 100%;
  height: 100%;
}
.no-scroll::-webkit-scrollbar {
  display: none;
}
.scroll-stable {
  scrollbar-gutter: stable;
}
.hover-animation {
    transition-property: background-color, color, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  }